*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
}
html{
    font-family: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    width: 400px;
    height: 400px;
    position: relative;
    background-image: url(./phone-black.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container i{
    position: absolute;
    color: red;
    font-size: 5rem;
    animation-name: beat;
    transform: translate(-50%,-50%) scale(0);
    animation-duration: .5s;
    transition: transform 0.5s ease-in;
    opacity: 1;
}

  

@keyframes beat{
    to{
        transform: translate(-50%,-50%) scale(1.0);
        opacity: 0;
    }

}