@import url('https://fonts.googleapis.com/css2?family=Koulen&family=M+PLUS+1:wght@600;700;800;900&display=swap');
:root{
    --font-default:'Koulen', cursive;
    /* cursour tracking  */
    --x:0;
    --y:0;
    
}
html{
    font-size: 100%;
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
}
a,a:active,a:visited{
    text-decoration: none;
    color: white;
}
body{
    min-height: 100vh;
    background-color: #0c0c0c;
    font-family: var(--font-default);
    color: white;
    line-height: 1.5;
}
.nav{
    color:#5265f7;
    padding: 25px 0;
}
.nav .container-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.container-nav{
    max-width: 1200px;
    margin: 0 auto;
    /* overflow: auto; */
    padding: 0 40px;
}

.container-nav .nav-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 10px;
}
.menu{
    width: 30px;
    transform: rotate(45deg);
    height: 30px;
    background: white;
    margin: 0 10px 30px 0;
    display: none;
    transition: transform 0.5s ease-in;
}
.nav.active .menu{
    transform: rotate(180deg);
    transition: 0.5s ease-in;
}
.mb-nav{
    display: none;
}
@media(max-width:500px){
    .container-nav .nav-list{
        display: none;
    }
    .nav .container-nav{
        padding: 10px 20px;
        position: relative;
    }
    .mb-nav{
        display: block;
    }
    .logo svg{
        width: 100%;
    }
    .logo{
        width: 50%;
    }
    .menu{
        display: block;
    }
    .mb-nav{
       
        background-color: yellowgreen;
        transform: translateX(0);
        transform-origin: 100% 50%;
        transition: transform 0.5s ease-in;
        z-index: 10;
    }
    .mb-nav .nav-list{
        list-style-type: none;
        text-align: center;
        padding: 0;
    }
    .nav.active .mb-nav{
       transform:translateX(100%);
    }

}
@media(max-width:800px){
.hero .container-nav{
    display: inherit;
    flex-direction: column;
    align-items: flex-start;
}

}
.logo{
    font-size: 3rem;
    line-height: normal;
    position: relative;
    overflow: hidden;
}
.nav-list li a{
    color: #ebf0f3;
    font-size: 22px;
}
.nav-list li a:hover{
   color: #5265f7;
}

/* hero */
.hero{
/* new folarin code */
position: relative;
top: 0rem;
max-width: 100%;
min-height: 0rem;
margin-bottom: 130px;
padding: 0rem 1.25rem;
z-index: 2;
}

    /* old code */
    /* display: flex;
    height: 320px;
    justify-content: center;
    flex-direction: column; */

.hero .container-nav{
    /* new folarin code */
    max-width: 78.125rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* old code */


    /* display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    width: 100%;
    padding: 0; */

}
.typo-hero{
    /* new folarin code */
    min-height: 0rem;
    padding: 3.125rem 0rem 1.25rem 0rem;
    width: 100%;
}
.typo-hero h2{
    font-size: 6.25rem;
    line-height: 6.25rem;
}
.empty-block{
    position: relative;
    /* background-color: #5265f7; */
    background:linear-gradient(#00CC99,#6600FF);
    width: 439px;
    height: 210px;
    overflow: hidden;
    position: relative;
}
.empty-block::before{
    content: "";
    width: inherit;
    height: inherit;
    background-color: #00CC99;
    position: absolute;
    z-index: -1;
    transform: translateX(-10px);
}
/* .empty-block::after{
    --size:0;
    content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, pink, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}
.empty-block:hover::after{
    --size:200px;
} */

/* .empty-block::before{
    content: "";
    width: 100%;
    height: 210px;
    position: absolute;
    background-color: #ebf0f3;
    background-image: url(./images/terminal.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    transform: translate3d(-25px, 25px, 0);
    transition: transform 0.3s;
}
.empty-block:hover::before{
    transform: translate3d(-40px, 40px, 0);
    transform:0.3s cubic-bezier(.43, .04, .32, .97);    
} */
@media(max-width:500px){
    .typo-hero h2{
        font-size: 3em;
        line-height: 1;
        text-align: center;
    }
    .empty-block{
        width: 100%;
    }
}

    /* old code */
    /* font-size: 3rem; */


.typo-hero span:nth-child(1){
    color: #5265f7;
    position: relative;
}
.pr-typo::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}
@media(max-width:960px){

}
/* Section sKill */
.skills{
    max-width: 100%;
    min-height: 0rem;
    padding: 0rem 1.25rem;
}
.skills-container{  
    max-width: 78.125rem;
    margin: 0rem auto;
}
.skill-heading{
    padding: 4.375rem 0rem 3.125rem 0rem;
}
.skill-heading h2{
    font-size: 2rem;
    line-height: 2rem;
    color: white;
    font-weight: 400;
}
hr{
    color: #5265f7;
    background-color: #5265f7;
    height: 0.25rem;
    width:14.5rem;
    margin: 1.5625rem 0rem 0rem 0rem;
    text-align: left;
    border-radius: 3.125rem;
    border-color: #5265f7;
}
.skill-section{
    display: grid;
    gap: 0.9375rem;
    margin: 0rem 0rem;
    grid-template-rows: 1fr;
}
@media(min-width:786px){
    .skill-section{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}
@media(min-width:1200px){
    .skill-section{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr;
    }
}
.skill{
    border-radius: 0.625rem;
    padding: 1.5625rem;
    background-color: black;
}
.skill h3{
    font-size: 1.5625rem;
    line-height: 1.5625rem;
    color: white;
    font-weight: 400;
}
.skill p{
    margin-top:1.25rem;
}
.skill span{
    margin-right: 0.9375rem;
}
.skill i{
    color: #5265f7;
    font-size: 1.875rem;
}
/* section projects */
.projects{
    max-width: 100%;
    min-height: 0rem;
    background-color: black;
    padding: 0rem 1.25rem;
    margin: 3.125rem 0rem;
}
.projects-container{
    max-width: 78.125rem;
    margin: 0rem auto;
    padding-bottom: 4.375rem;
}
.project-heading{
    padding: 3.125rem 0rem 3.125rem 0rem;
}
.project-section{
    margin: 0rem 0rem;
    display: grid;
    gap: 0.9375rem;
    grid-template-rows: 1fr;
}
@media(min-width:1200px){
    .project-section{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
    }
}
@media(min-width:786px){
    .project-section{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}
.project{
    padding: 2.5rem 1.5625rem;
    border-radius: 0.625rem;
    background-color:#0c0c0c;
}
.project-top h3{
    font-size: 1.5625rem;
    line-height: 1.5625rem;
    color: #5265f7;
    font-weight: 400;
    margin-bottom: 1rem;
}
.project-top h3 span{
    color: yellowgreen;
}
.project-top p{
    font-size: 1.125rem;
    line-height: 1.6875rem;
    margin-bottom: 1rem;
}
.project-bottom a{
    font-size: 1rem;
    line-height: 1.5625rem;
    
}
.project-bottom img{
    display: block;
    max-width: 100%;
    border-radius: 0.625rem;
    margin-bottom: 1rem;
}
.project-links ul{
    display: flex;
}
.project-links li{
    list-style: none;
    flex: 1;
    text-align: right;
}
.project-links li:nth-child(1){
    text-align: left;
    margin-left: -2.5rem;
}
.project-links a{
    color: #5265f7;    
}
/* Authors  */
.about{
    padding: 2.5rem 1.5625rem;
    border-radius: 0.625rem;
    background-color:#0c0c0c;
}
.about-container{
    max-width: 78.125rem;
    margin: 0rem auto;
    padding-bottom: 4.375rem;
}
.about-heading{
    padding: 3.125rem 0rem 3.125rem 0rem;
}
.about-section{
    margin: 0rem 0rem;
    display: grid;
    gap: 0.9375rem;
    grid-template-rows: 1fr;
}
@media(min-width:1200px){
    .about-section{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
    }
}
@media(min-width:786px){
    .about-section{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}
.about-card{
    display: flex;
    gap: 25px;
    padding: 2.5rem 1.5625rem;
    border-radius: 0.625rem;
    background-color: black;
    align-items: center;
}
.profile img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.container-details{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.social ul{
    display: flex;
    gap: 10px;
    transition: transform 1s ease-in;
    padding: 0;

}
.social ul li{
    list-style-type: none;
}
.social i {
    font-size: 2em;
    color: #5265f7;
}
.social i:hover{
    transition: transform .2s ease-in;
    transform: translateY(-8px);
}
/* animation  */
.block-element{
    position: absolute;
    top: 0;
    width: 100%;
    height: 35px;
    background-color: #ffffff;
    transform: translateX(-101%);
    transition: all 300ms ease-in;
    animation-duration: 1s;
    animation-name: hover;
    animation-play-state: running;
}
@keyframes hover{
    100%{
        transform: translateX(100%);
    }
}

