@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
    font-size: 100%;
}
*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Bebas Neue', cursive;
}
.bg-image{
    background: url(./image/pexels-kasuma-427676.jpg);
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(30px);
    transition:  filter 0.4s ease-in;
}
.loading-text{
    font-size: 2em;
    color: white;
    opacity: 1;
    transition: opacity 0.5s ease-in;
}
